@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
  font-family: Roboto;
}

.footer-distributed{
	background: black;
	width: 100%;
	font: bold 16px sans-serif;
	display : flex;
	align-items: center;
	padding: 10px 60px 10px;
	overflow: hidden;
	
}


/* Footer left */

.footer-distributed .footer-left{
	display : inline-block;
}
	
/* The logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Roboto', cursive;
	margin: 0px 0px 0px;
}

.footer-distributed h3 span{
	color:  #3ca9e2;
}

/* Footer links */

.footer-distributed .footer-links{
	margin-left : 100px;	
	color:  #444;
}


.seperateBlock{
	height : 0.1vh;
	padding : 0.3px;
	margin-right : 0;
	background-color: #222;
}
.footer-distributed .footer-links a{
	margin: 0;
	text-decoration: none;
	color: inherit;
}

.links{
	padding: 0px 40px 0px 40px;
}

