.listContainer{
    display: flex;
    flex-direction: column;
    margin : auto;
    text-align: center;

    margin-bottom : 30px;
}

.addButtondiv{
    margin : 0px 0px 0px 0px;    
}

.testCaseAdd{
    margin: 15px 0px 0px 0px;
    text-align: right;
}

