.listContainer{
    display: flex;
    flex : 1;
    flex-direction: column;
    height : 100vh;
    width : 100%;
    margin : 0px 0px 0px 0px;
    text-align: center;
}

.addButtondiv{
    margin : 0px 0px 0px 0px;    
}

.testCaseAdd{
    margin: 15px 0px 0px 0px;
    text-align: right;
}

